#main {
  background-color: honeydew;
}

.name {
  font-family: Georgia, Arial;
}

.pos {
  font-family: sans-serif;
}

.content_section {
  margin: 30px;
}

#photo {
  border-radius: 50%;
  width: 25%;
}

#header {
  text-align: center;
}

#header p {
  color: green;
  font-size: 19px;
}

#info {
  font-size: 18px;
}

#main_info {
  font-size: 18px;
}